#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

form {
  border: 4px solid gray;
  border-radius: 5px;
  position: relative;
  padding: 3rem 3rem;
}

.stepCount {
  position: absolute;
  top: 5px;
  right: 10px;
}

.stepNavHold {
  display: flex;
  justify-content: flex-end;
  margin: 2em 0 0 0;
  gap: 1em;
}

.FormWrapperH2 {
  text-align: center;
  margin: 0 0 2rem 0;
}

.FormWrapperHold {
  display: grid;
  gap: 1rem 0.5rem;
  justify-content: flex-start;
  grid-template-columns: auto minmax(auto, 400px);
}
