#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

form {
  border: 4px solid gray;
  border-radius: 5px;
  height: 400px;
  width: 400px;
  position: relative;
}

.stepCount {
  position: absolute;
  top: 5px;
  right: 10px;
}

.stepNavHold {
  display: flex;
  justify-content: flex-end;
  margin: 2em 0 0 0;
}

.stepNavHold div {
  border: 2px solid gray;
  padding: 1px 6px;
  transition: 0.5s;
  margin: 0 1em 0 0;
}
.stepNavHold div:hover {
  background-color: silver;
  cursor: pointer;
}
