@import url("https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap");

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  --font: "Lato", sans-serif;
  --background: #050511;
  --main-card: #0f151f;
  --h1-back: linear-gradient(90deg, #00c6ff 0%, #0094ff 100%);
  --input-back: #0a1c2d;
  --input-color: #25c0f9;
  --input-border: #00adff;
  --label-color: #357ca4;
  --placeholder: #357ca4;
  --button-color: #25c0f9;
  --button-back: linear-gradient(90deg, #00b2ff 0%, #0c54b7 100%);
  --transition-btn: 0.1s;
  --round-back-blue: #00adff;
  --round-back: gray;
  --round-text: white;
  --progress-back: linear-gradient(90deg, #00b2ff 0%, #0c54b7 100%);
  --progress-transition: 0.5s;

  padding: 0;
  margin: 0;
  display: flex;
  place-items: center;
  min-height: 100vh;

  transition: var(--progress-transition);
  background: var(--background);
}

body.dark {
  --font: "Lato", sans-serif;
  --background: #73c7ff;
  --main-card: #c1e9ff;
  --h1-back: linear-gradient(90deg, #00c6ff 0%, #0094ff 100%);
  --input-back: #9aceff;
  --input-color: #07212b;
  --input-border: #00adff;
  --label-color: #357ca4;
  --placeholder: #357ca4;
  --button-color: #25c0f9;
  --button-back: linear-gradient(90deg, #00c6ff 0%, #0094ff 100%);
  --transition-btn: 0.1s;
  --round-back-blue: #00adff;
  --round-back: gray;
  --round-text: white;
  --progress-back: linear-gradient(90deg, #00b2ff 0%, #0c54b7 100%);
  --progress-transition: 0.5s;
}

#root {
  width: 100%;
  display: flex;
  justify-content: center;
}
